<!doctype html>
<html lang="en">
  <head>
    <!-- base url for all relative urls.  -->
    <base target="_top" href="{%= Application.extendedSubclass.static['StaticContent'].url %}/">

    <link rel="import" href="/asset/metadata/metadata.html">

    <!-- entrypoint.js (common js) -->
    <!--<script src="/asset/javascript/entrypoint.js"></script>-->
    {%= view['header']({ Application, view, argument })  %} 

    {%= view['headerElement']({ Application, view, argument })  %} 

  </head>
  <body>

    {%= view['body']({ Application, view, argument })  %} 
    <!-- With ❤ From AppScript.io -->
  
  </body>
</html>
