<!doctype html>
<html lang="en">
  <head>
    <!-- base url for all relative urls.  -->
    <base target="_top" href="{%= Application.extendedSubclass.static['StaticContent'].url %}/">
    <!--<script src=""></script>-->
    <!--<link rel="import" href="https://polygit.org/polymer+:2.0-preview/webcomponentsjs+:v1/shadydom+webcomponents+:master/shadycss+webcomponents+:master/custom-elements+webcomponents+:master/components/polymer/polymer-element.html">-->
       
    <!--<link rel="import" href="/asset/metadata/metadata.html">-->
    {%= view['metadata']({ Application, view, argument })  %} 

    <!-- entrypoint.js (common js) -->
    <!--<script src="/asset/javascript/entrypoint.js"></script>-->
    {%= view['header']({ Application, view, argument })  %} 

    {%= view['headerElement']({ Application, view, argument })  %} 

  </head>
  <body>

    {%= view['body']({ Application, view, argument })  %} 
    <!-- With ❤ From AppScript.io -->
    
  </body>
</html>
